@import './constants.scss';

$app-width: 27rem;
$br: 0.625rem;

body {
  background: {
    position: center top;
    size: cover;
    attachment: fixed;
  }

  &::before {
    @include before-or-after($bg: black, $o: 0.65, $zi: 0);
  }
}

body.webp {
  background-image: url('/images/prayer_banner.webp');
}

body.no-webp {
  background-image: url('/images/prayer_banner.jpg');
}

form {
  & > .row {
    width: $app-width;
    max-width: 100vw;
  }
}

h1,
h2 {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.5);
}

h2 {
  font-size: 2rem;
  color: white;
}

.text-field-container {
  margin-bottom: 1.15rem;
  padding: 0 0.75rem;
}

.MuiFormLabel-root {
  color: #eee !important;
  padding: 0.15rem 0.25rem;
  transition: 0.3s;
  margin-top: -0.2rem;

  &.Mui-focused,
  &.MuiFormLabel-filled {
    transform: translate(0.8rem, -0.75rem) scale(0.75);
  }
}

.MuiInputBase-root {
  color: white !important;
}

.MuiFormControl-root {
  fieldset {
    display: none;
  }

  &:hover {
    .MuiFormLabel-root {
      background-color: transparent;
    }
  }
}

.MuiOutlinedInput-root {
  border-radius: $br;
  background-color: rgba(255, 255, 255, 0.1);
  border: 0.0625rem solid rgba(255, 255, 255, 0.15);
  transition: 0.3s;

  input {
    color: white !important;
  }

  &:focus-within,
  &:hover {
    background-color: rgba(255, 255, 255, 0.2) !important;
    border-color: transparent;
  }

  &:focus-within {
    border-color: white;
  }

  &.Mui-error {
    border-color: red;
  }
}

.MuiOutlinedInput-input {
  padding: 1rem;
}

.MuiOutlinedInput-multiline {
  textarea {
    padding: 0;
    line-height: 1.5rem;
  }
}

.MuiFormHelperText-contained {
  margin-left: 1rem;
}

.MuiAlert-filledInfo {
  background-color: $theme-secondary-v3;
}

.button-wrapper {
  // position: sticky;
  bottom: 0;
  padding-bottom: 0.75rem !important;
  border-radius: $br;
  z-index: 1;

  button[type='submit'] {
    border-radius: $br;
    padding: 0.75rem;
    background-color: #44acf6;

    &:hover,
    &:focus {
      background-color: rgb(15, 143, 235);
    }

    &:disabled {
      background-color: grey;
      color: #eee;
      cursor: not-allowed;
    }
  }
}

footer {
  color: white;
  text-align: center;
  font-size: 0.85rem;
  margin-top: 2rem;
  padding: 2rem 1rem 0.75rem 1rem;
  opacity: 0.2;
  transition: 0.3s;

  &:hover {
    opacity: 0.4;
  }

  button {
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    border: none;
    color: inherit;
    font-weight: bold;
    font-size: inherit;

    &:hover,
    &:focus {
      text-decoration: underline;
    }

    &:focus {
      ~ .devs {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .devs {
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;

    a {
      color: inherit;
      margin: 0 0.5rem;
      font-weight: bold;
      font-size: inherit;
    }
  }
}
